*{
    color: rgb(221, 221, 221);
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -50px;
    background-size: 1920px auto;
}

nav{
    background-color: rgb(0, 119, 255);
    font-size: 30px;
    font-family: 'Century Gothic';
    font-weight: lighter;
}



nav a{
    color: rgb(221, 221, 221);
    text-decoration: none;
}

nav .navigation a{
    margin: 0px 10px;
}

nav a:hover{
    text-decoration: underline;
    
}

#change-to-other-language{
    position: absolute;
    right: 10px;
    top: -4px;
}

header{
    font-size:  80px;
    height: 300px;
    padding-top: 140px
}

main{
    background-color: rgb(0, 103, 221);
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    text-align: start;
}

main .content{
    padding: 10px 20vw;
}

main .reference{
    color: rgb(48, 48, 48);
    background-color: rgb(199, 199, 199);
    padding: 10px 20vw;
}

main .reference img:hover{
    background-color: white;
    opacity: 0.8;
}

main p{
    margin-bottom: 15px;
}

footer{
    background-color: rgb(226, 226, 226);
    color: black;
    padding: 10px;
}

footer ul{
    display: flex;
    margin: 5px auto ;
    width: 100px;
}

footer ul li{
    margin: auto;
}

@media screen and (max-width:500px){
    header{
        font-size: 50px
    }

    main{
        font-size: 15px;
    }
}
