*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000;
}

.hun{
    text-align: left;
    padding-left: 50px;
}

.eng{
    text-align: right;
    padding-right: 50px;
}

.text{
    color: white;
    font-size: 40px;
    grid-column: 1/3;
    text-align: center;
    padding-top: 5vh;
}

.links{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30vh;
}

.links:hover{
    color: grey;
    font-size: 32px
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(85, 85, 85);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 80vh;
    background-size: 100vw 100vh;
}